

<ul>
    <% if user_signed_in?d %>
        <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
       
    <% else %>
        <li>
            <%= link_to "Sign in", new_user_session_path %>
        </li>
        <li>
            <%= link_to "Sign up", new_user_registration_path %>
        </li>
         <li>
            <%= link_to "Les sites dans Gasytes", articles_path%>
        </li>
    <% end %>
</ul>